/bin
/email_jan2014
/email_jan2014_mr_output
/issues_jan2014
/svn_jan2014
/svn_jan2014_canopy
/svn_jan2014_cluster
/svn_jan2014_kmeansCluster
/svn_jan2014_mr_output
/svn_jan2014_mr_output_count
/svn_jan2014_vector
/svn_jan2014_canopyclusteranalysis.txt
/svn_jan2014_clusteranalysis.txt
/svn_jan2014_kmeansclusteranalysis.txt
